.btn {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.15rem;
  padding: .5rem 2.2rem;
  border: 2px solid;
  cursor: pointer;

  @media screen and (min-width: 55rem) {
    font-size: 1.5rem;
  }

  &__primary {
    color: $color-primary;
    border-color: $color-primary;

    @media screen and (min-width: 55rem) {

      &:hover,
      &:focus {
        background-color: $color-primary;
        color: $color-secondary;
      }
    }

  }

  &__accent {
    color: $color-secondary;
    border-color: $color-secondary;

    @media screen and (min-width: 55rem) {
      
      &:hover,
      &:focus {
        background-color: $color-secondary;
        color: $color-primary;
      }
    }
  }
  
}
